<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimePredictor</title>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/neumorphism.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/crime-predictor.css')}}">
    <!-- header footer script -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/index.css')}}">
    <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>


    <script type="module" src="{{url_for('static',filename='assets/javascript/header-footer.js')}}"></script>




    <!-- live time -->
    <script>
        function startTime() {
            var time = new Date();
            document.getElementById('txt').innerHTML = time.toLocaleString('en-US', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
            });
        }
    </script>
    <!-- sound script -->
    <script>
        function audio() {
            var audio = new Audio("{{url_for('static',filename='assets/sound/click-sound.mp3')}}");
            audio.play();

        }
    </script>
    <!-- table creation scrippt-->
    <script>
        function datafillfun(n) {

            //console.log("testing run...");
            var s = "{{url_for('static',filename='assets/data/predictinputjsondata.json')}}";


            document.getElementById('myGrid').innerHTML = '';


            // function for reading json file
            function readTextFile(file, callback) {
                var rawFile = new XMLHttpRequest();
                rawFile.overrideMimeType("application/json");
                rawFile.open("GET", file, true);
                rawFile.onreadystatechange = function () {
                    if (rawFile.readyState === 4 && rawFile.status == "200") {
                        callback(rawFile.responseText);
                    }
                }
                rawFile.send(null);
            }

            readTextFile(s, function (text) {
                var data = JSON.parse(text);
                console.log(data, "inputdata");


                var tableBody =
                    '<h5>Input Table</h5><table class="table table-hover" ><tr><th class="border-0" scope="col" id="state-table-heading">ds</th>';


                // if (document.getElementById('total-check').checked == true) {
                tableBody += '<th class="border-0" scope="col" id="total-table-heading">y</th>';
                // }
                // if (document.getElementById('murder-check').checked == true) {
                // tableBody += '<th class="border-0" scope="col" id="total-table-heading">PRIMARY TYPE</th>';
                // // }
                // // if (document.getElementById('kidnapping-check').checked == true) {
                // tableBody += '<th class="border-0" scope="col" id="total-table-heading">LOCATION</th>';
                // // }
                // if (document.getElementById('robbery-check').checked == true) {
                //   tableBody += '<th class="border-0" scope="col" id="total-table-heading">ROBBERY</th>';
                // }





                tableBody += '</tr>';

                for (i = 0; i < data.length; i++) {
                    console.log(i, "testingggg");
                }


                data.forEach(function (d) {
                    tableBody += '<tr><th scope="row">' + d.ds;
                    //   if (document.getElementById('total-check').checked == true) {
                    tableBody += '</th><td>' + d.y;

                    tableBody += '</td></tr>';
                });
                tableBody += '<table>';

                // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.

                var divContainer = document.getElementById("myGrid");
                divContainer.innerHTML = tableBody;
            });
        }
    </script>

    <!-- table creation scrippt-->
    <script>
        function datafillfun1(n) {

            //console.log("testing run...");
            var s = "{{url_for('static',filename='assets/data/predictoutjsondata.json')}}";



            document.getElementById('myGrid1').innerHTML = '';


            // function for reading json file
            function readTextFile(file, callback) {
                var rawFile = new XMLHttpRequest();
                rawFile.overrideMimeType("application/json");
                rawFile.open("GET", file, true);
                rawFile.onreadystatechange = function () {
                    if (rawFile.readyState === 4 && rawFile.status == "200") {
                        callback(rawFile.responseText);
                    }
                }
                rawFile.send(null);
            }

            readTextFile(s, function (text) {
                var data = JSON.parse(text);
                console.log(data);


                var tableBody =
                    '<h5>Output Table</h5><table class="table table-hover" ><tr><th class="border-0" scope="col" id="state-table-heading">ds</th>';


                tableBody += '<th class="border-0" scope="col" id="total-table-heading">trend</th>';
                tableBody += '<th class="border-0" scope="col" id="total-table-heading">yhat_lower</th>';
                tableBody += '<th class="border-0" scope="col" id="total-table-heading">yhat_upper</th>';
                tableBody += '<th class="border-0" scope="col" id="total-table-heading">yhat</th>';


                tableBody += '</tr>';


                data.forEach(function (d) {
                    tableBody += '<tr><th scope="row">' + d.ds;
                    tableBody += '</th><td>' + d.trend;
                    tableBody += '</th><td>' + d.yhat_lower;
                    tableBody += '</th><td>' + d.yhat_upper;
                    tableBody += '</th><td>' + d.yhat;

                    tableBody += '</td></tr>';
                });
                tableBody += '<table>';

                // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.

                var divContainer = document.getElementById("myGrid1");
                divContainer.innerHTML = tableBody;
            });
        }
    </script>

<script>
    // On mouse-over, execute myFunction
    function buttonfunction() {
      document.getElementById("testrun").click(); // Click on the checkbox
   // console.log("button chal rhi");
    
    }
    </script>

</head>

<body onload="startTime();datafillfun(1);datafillfun1(1);">
    <my-header></my-header>

    <div id="upper" class="row pl-6 pr-6">
        <div id="upload" class="col-4">
            <div id="card1" class="upload_items pt-4">
                <div class="card bg-primary border-light shadow-soft">
                    <div class="card-body">
                      <form method='POST' action="/predict">
                        <select class="form-control" name="type" id="input5" style="width: 100%;" required>
                          <option disabled selected value>select Crime</option>
                          {% for i in type %}
                          <option value="{{i.name}}">{{i.name}}</option>
                          {% endfor %}
                        </select>
                        <br>
                        <select class="form-control" name="location" id="input5" style="width: 100%;" required>
                            <option disabled selected value>select Location</option>
                            {% for i in location %}
                            <option value="{{i.name}}">{{i.name}}</option>
                            {% endfor %}
                          </select>
                          <br>
                        <input type="text" min="2016" class="form-control" name="from" placeholder="Year Range eg. 2016-2019" id="input1" style="width: 100%;" required>
                        <br>
                        <button type="submit" class="btn btn-primary btn-pill text-success" style="width: 200px;justify-content:center">Submit <i class="fas fa-chevron-right"></i></button>
                      </form>
                      {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <p>{{ message }}</p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %} 
                    </div>
                  </div>
            </div>
        </div>
<script>
        const form = document.querySelector('#myForm');
        const numberDiv = document.querySelector('#number');
        
        form.addEventListener('submit', (event) => {
          event.preventDefault(); // Prevent the form from submitting normally
        
          const formData = new FormData(form); // Create a new FormData object from the form inputs
        
          fetch('/predict', {
            method: 'POST',
            body: formData
          })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            numberDiv.innerHTML = `Generated number: ${data.number}`; // Update the div element to display the generated number
          })
          .catch(error => {
            console.error('There was an error!', error);
          });
        });
        

</script>
        <div id="upload_table" class="col-6">
            <div id="table-card" class="upload_items pt-4">
                <div class="card bg-primary border-light shadow-soft" style="height:495px; width:800px">
                    <div class="card-body" id="output" style="overflow: scroll">
                        {% for i in pred %}
                        
                        <img src="{{i.image}}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

<script>
    function displayValues() {
        // Get the value from the input field
        var inputValue = document.getElementById("input1").value;
        
        // Display the value on the output div
        document.getElementById("output").innerHTML = inputValue;
      }
      
</script>
    <!-- ----------------------------middle panel----------------------------------->

    




    <!-- -----------------------lower panel-------------------------------- -->




  
  

    </div>






    <my-footer></my-footer>

</body>

</html>